<template>
  <a-card hoverable style="width: 24%; margin: 3px; padding: 10px">
    <template #cover>
      <img alt="example" :src="item && item.url" />
    </template>
    <a-card-meta :title="item && item.originalname">
      <template v-if="!flag" #description>上传于{{ item && item.createAt }}</template>
    </a-card-meta>
  </a-card>
</template>
<script lang="ts" setup>
import { defineProps } from 'vue';
defineProps({
  item: {
    type: Object,
    default: {},
  },
  flag: {
    type: Boolean,
    default: false,
  },
});
</script>
<style lang="less" scoped>
.ant-card-cover {
  width: 100%;
  height: 60%;
}
img {
  width: 100%;
  height: 190px;
}
.ant-card-meta-description {
  text-overflow: -o-ellipsis-lastline;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
</style>

