<template>
  <footer>
    <div class="icon"><github-outlined /></div>
    <div class="laiyuan">Copyright @ 2022 Fantasticit.</div>
  </footer>
</template>

<script setup lang="ts">
import { GithubOutlined } from '@ant-design/icons-vue';
</script>

<style scoped>
footer {
  margin-top: 40px;
  width: 100%;
  text-align: center;
  height: 20%;
  cursor: pointer;
}
</style>