<template>
  <a-form ref="formRef" class="formfile" :model="formState" @finish="onFinish">
    <a-row :gutter="24">
      <a-form-item label="文件名称" name="originalname">
        <a-input v-model:value="formState.originalname" placeholder="请输入文件名称" />
      </a-form-item>
      <a-form-item label="文件类型" name="type">
        <a-input v-model:value="formState.type" placeholder="请输入文件类型" />
      </a-form-item>
    </a-row>
    <a-col :span="24" style="text-align: right">
      <a-button type="primary" html-type="submit">搜索</a-button>
      <a-button style="margin: 0 8px" @click="resetForm">重置</a-button>
    </a-col>
  </a-form>
</template>
<script lang="ts" setup>
import { computed, defineComponent, reactive, ref } from 'vue';
import type { UnwrapRef } from 'vue';
import type { FormInstance } from 'ant-design-vue';
interface FormState {
  originalname: string;
  type: string;
}

const formState: UnwrapRef<FormState> = reactive({
  originalname: '',
  type: '',
});
const $emit = defineEmits(['onFinishok', 'reset']);
const formRef = ref<FormInstance>();

const onFinish = (values: FormState) => {
  $emit('onFinishok', values);
};
const resetForm = () => {
  $emit('reset', formRef);
  //@ts-ignore
};
</script>
