<template>
  <a-card style="width: 23%; max-width: 23%" class="kn_card">
    <template #cover>
      <a-image
        id="img"
        :alt="item?.title"
        :src="item?.cover"
        fallback="https://cn.bing.com/images/search?q=Error%E5%9B%BE%E7%89%87&FORM=IQFRBA&id=015CDB7CB12431B6374018320004F7CE95F9F2A4"
      />
    </template>
    <template #actions>
      <edit-outlined key="edit" @click="router.push(`/knowledge/editor/+${item?.id}`)" />
      <template v-if="item?.status === 'publish'">
        <a-tooltip placement="top">
          <template #title>
            <span>设为草稿</span>
          </template>
          <cloud-upload-outlined @click="changState(item)" />
        </a-tooltip>
      </template>
      <template v-else>
        <a-tooltip placement="top">
          <template #title>
            <span>发布线上</span>
          </template>
          <cloud-download-outlined @click="changState(item)" />
        </a-tooltip>
      </template>

      <setting-outlined key="setting" @click="settingBtn" />

      <a-popconfirm title="确定要删除吗？" ok-text="是" cancel-text="否" @confirm="confirm">
        <delete-outlined key="delete" />
      </a-popconfirm>
    </template>
    <a-card-meta :title="item?.title" :description="item?.summary"></a-card-meta>
  </a-card>
</template>
<script lang="ts" setup>
import {
  SettingOutlined,
  EditOutlined,
  EllipsisOutlined,
  DeleteOutlined,
  CloudDownloadOutlined,
  CloudUploadOutlined,
} from '@ant-design/icons-vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { defineProps, defineEmits, provide } from 'vue';
import { useRouter } from 'vue-router';
import { message } from 'ant-design-vue';

const router = useRouter();
const store = useStore();
const props = defineProps({
  item: {
    type: Object,
    default: {},
  },
  pageObj: {
    type: Object,
    default: () => {},
  },
});
const emit = defineEmits(['setting', 'delBtn']);
//改变状态
const changState = (item: {}) => {
  store.knState({
    id: item?.id,
    status: item?.status,
  });
  store.getKnList(props.pageObj);
};

const confirm = (e: MouseEvent) => {
  store.deleteKn(props.item?.id);
};

//设置，点击后把当前项数据传给父组件
const settingBtn = () => {
  emit('setting', props.item);
};
</script>
<style lang="less" scoped>
.ant-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ant-card-cover {
  width: 100%;
  height: 60%;
  #img {
    width: 100%;
    height: 100%;
  }
}
.ant-card-body .ant-card-meta-description {
  overflow: hidden;
  color: #333;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#components-a-tooltip-demo-placement .ant-btn {
  width: 70px;
  text-align: center;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 8px;
}
</style>
