<template>
  <a-upload-dragger
    v-model:fileList="fileList"
    name="file"
    :multiple="true"
    action="https://creationapi.shbwyz.com/api/file/upload?unique=0"
    :headers="headers"
    @change="handleChange"
    @drop="handleDrop"
  >
    <p class="ant-upload-drag-icon">
      <inbox-outlined></inbox-outlined>
    </p>
    <p class="ant-upload-text">点击选择文件或将文件拖拽到此处</p>
    <p class="ant-upload-hint">文件将上传到OSS，如未配置请先配置</p>
  </a-upload-dragger>
</template>
<script lang="ts">
import { InboxOutlined } from '@ant-design/icons-vue';
import { message } from 'ant-design-vue';
import { defineComponent, ref } from 'vue';
import type { UploadChangeParam } from 'ant-design-vue';
import  useStore from '@/store';

export default defineComponent({
  components: {
    InboxOutlined,
  },
  setup() {
    const store = useStore();
    const handleChange = (info: UploadChangeParam) => {
      const status = info.file.status;
      if (status !== 'uploading') {
        console.log(info.file, info.fileList, '11111111111111');
      }
      if (status === 'done') {
        store.getFile({ page: 1, pageSize: 12 });
        message.success(`${info.file.name}上传成功`);
      } else if (status === 'error') {
        message.error(`${info.file.name}上传失败`);
      }
    };

    return {
      handleChange,
      fileList: ref([]),
      handleDrop: (e: DragEvent) => {
        console.log(e);
      },
      headers: {
        //@ts-ignore
        authorization: 'Bearer ' + JSON.parse(localStorage.getItem('userInfo')).token,
      },
    };
  },
});
</script>
