/<template>
  <a-tabs type="editable-card" @change="handleChange">
    <a-tab-pane v-for="pane in i18nData" :key="pane.key" :tab="pane.key" :closable="pane.closable" :forceRender="true">
      <div class="editor-wrapper-yh" :id="pane.editorRef"></div>
    </a-tab-pane>
  </a-tabs>
  <a-button @click="handleSave">保存</a-button>
</template>

<script setup lang="ts">
import { Tabs, Button } from 'ant-design-vue';
import { editor } from "monaco-editor";
const i18nData = computed(() => {
  const data = JSON.parse(props.soureData?.i18n);
  return Object.keys(data).map(item => {
    return {
      key: item,
      value: data[item],
      closable: true,
      editorRef: item,
    };
  });
});
const props = defineProps({
  soureData: Object
});
const createEditor = (item) => {
  nextTick(() => {
    if(item.editorInstance){
      return;
    };
    item.editorInstance = editor.create(document.getElementById(item.editorRef), {
      value: JSON.stringify(item.value, null, 4),
    });
  });
};
const handleChange = (activeKey) => {
  // console.log(activeKey, );
  createEditor(i18nData.value.find(({key}) => key === activeKey))
};

const handleSave = () => {
  const res = {
    i18n: JSON.stringify(i18nData.value.reduce((val, item) => {
      val[item.key] = item.editorInstance.getValue();
      return val;
    }, {})),
  };
  console.log(res);
};

onMounted(() => {
  i18nData.value.forEach(item => {
    createEditor(item);
  });
});
</script>

<style>
.editor-wrapper-yh {
  height: 500px;
}
</style>
