/
<template>
  <div>
    详情{{ route.params.id }}
    <button @click="router.back(-1)">返回</button>
  </div>
</template>

<script setup lang="ts">
import { useRouter, useRoute } from 'vue-router';
const router = useRouter();
const route = useRoute();
</script>

<style></style>
