<template>
  <div class="file">
    <!-- 搜索 -->
    <a-form ref="formRef" class="formfile" :model="formState" @finish="onFinish">
      <a-row :gutter="24">
        <a-form-item label="文件名称" name="title">
          <a-input v-model:value="formState.title" placeholder="请输入文件名称" />
        </a-form-item>
        <a-form-item name="status" style="width:200px" label="状态">
          <a-select v-model:value="formState.status" placeholder="请输入状态">
            <a-select-option value="publish">已发布</a-select-option>
            <a-select-option value="draft">草稿</a-select-option>
          </a-select>
        </a-form-item>
      </a-row>

      <a-col :span="24" style="text-align: right">
        <a-button type="primary" html-type="submit">搜索</a-button>
        <a-button style="margin: 0 8px" @click="resetForm">重置</a-button>
      </a-col>
    </a-form>
    <!-- 内容区域 -->
    <div class="file_con">
      <div class="add_btn"><a-button type="primary" @click="showDrawer">新建</a-button></div>
      <div class="file_con">
        <template v-if="knList && knList[0].length">
          <div class="items">
            <!-- 每一项 -->
            <KnCard v-for="item in knList[0]" :key="item.id" :item="item" :page-obj="pageObj" @setting="sheZhi" />
            <!-- 新建抽屉 -->
            <Drawer title="新建" :visible="visible" btn_name="创建" @close="close" @handleTwo="handleAdd" />
            <Drawer
              title="更新知识库"
              :visible="visible1"
              btn_name="更新"
              :item-val="itemVal"
              @close="close"
              @handleTow="handleEdit"
            />
          </div>
          <!-- 分页器 -->
          <a-pagination
            v-model:value="pageObj.page"
            v-model:page-size="pageObj.pageSize"
            :page-size-options="pageSizeOptions"
            :total="knList[1]"
            show-size-changer
            :show-total="(total, range) => `共${knList[1]}条`"
            @change="changepage"
            @showSizeChange="onShowSizeChange"
          >
            <template #buildOptionText="props">
              <span v-if="props.value !== '50'">{{ props.value }}条/页</span>
              <span v-else>全部</span>
            </template>
          </a-pagination>
        </template>
        <template v-else>
          <a-empty :image="simpleImage" />
        </template>
      </div>
    </div>
    <Footer />
  </div>
</template>

<script setup lang="ts">
import { onMounted, reactive, ref } from 'vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { Empty} from 'ant-design-vue';
import type { UnwrapRef } from 'vue';
import type { FormInstance } from 'ant-design-vue';
interface FormState {
  title: string;
  status: string;
}
const store = useStore();
//搜索
const formState: UnwrapRef<FormState> = reactive({
  title: '',
  status: '',
});
const formRef = ref<FormInstance>();

const onFinish = (values: FormState) => {
  store.knSearch({
    ...values,
    ...formState,
  });
};
//重置
const resetForm = () => {
  formRef.value.resetFields();
  init();
};
const itemVal = reactive({});
//点击设置
const sheZhi = (item: {}) => {
  visible1.value = true;
  itemVal.value = item;
};

//抽屉
const visible = ref(false);
const visible1 = ref(false);
const showDrawer = () => {
  visible.value = true;
};
//更新知识库
const openDr = () => {
  visible1.value = true;
};
const close = (flag: boolean) => {
  visible.value = flag;
};
const { knList } = storeToRefs(store);

const simpleImage = ref(Empty.PRESENTED_IMAGE_SIMPLE);
const pageObj = reactive({
  page: 1,
  pageSize: 12,
});
const init = () => {
  store.getKnList(pageObj);
};

const handleAdd = (values: {}) => {
  store.knAddList(values);
  visible.value = false;
};
const handleEdit = (values: {}) => {};

onMounted(() => {
  init();
});

//分页器配置
const pageSizeOptions = ref<string[]>(['8', '12', '24', '26', '32']);
const current1 = ref<number>(1);
const pageSize1 = ref<number>(12);

const onShowSizeChange = (current: number, pageSize: number) => {
  pageObj.pageSize = pageSize;
  pageSize1.value = pageSize;
  init();
};

const changepage = (page: number) => {
  pageObj.page = page;
  init();
};
//搜索
</script>

<style>
.ant-drawer-footer {
  display: flex;
  justify-content: end;
}
.ant-pagination {
  display: flex;
  justify-content: end;
}
.items{
  display: flex;
    flex-wrap: wrap;
}
.ant-card{
  margin: 10px;
}
</style>
