<template>
  <PageContainer>
    <div class="artilesAll">
      <a-form :model="userForm" class="loginRight" @finish="onFinish">
        <a-row>
          <a-col :span="6">
            <a-form-item label="标题" name="title" :rules="[{ message: '请输入文章标题' }]">
              <a-input v-model:value="userForm.title" style="height: 31px" />
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="状态" name="status" :rules="[{ validator: checkPrice }]">
              <a-select v-model:value="userForm.status">
                <a-select-option value="publish">已发布</a-select-option>
                <a-select-option value="draft">草稿</a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item label="分类" name="category" :rules="[{ validator: checkPrice }]">
              <a-select v-model:value="userForm.category">
                <a-select-option v-for="(value, key) in arr" :key="key" :value="value.id">
                  {{ value.label }}
                </a-select-option>
              </a-select>
            </a-form-item>
          </a-col>
          <a-col :span="6">
            <a-form-item>
              <a-button html-type="submit" :loading="loginLoading">搜索</a-button>
              &nbsp;
              <a-button @click="clear">重置</a-button>
            </a-form-item>
          </a-col>
        </a-row>
      </a-form>

      <div class="table-container">
        <header>
          <span>
            <span class="add">
              <router-link to="/article/editor">+ 新建</router-link>
            </span>
            &nbsp;
            <RedoOutlined @click="Refresh" />
          </span>
        </header>
        <main>
          <!-- <a-table
            sticky
            :loading="listData.loading"
            :row-selection="rowSelection"
            :columns="columns"
            :data-source="listData.data"
            :scroll="{ x: 1800 }"
            :pagination="{
              pageSize: pageInfo.pageSize,
              total: listData.total,
              onChange: handlePageChange,
              showSizeChanger: true,
            }"
          >
          </a-table> -->
          <div style="margin-bottom: 16px">
            <a-button :disabled="!hasSelected" :loading="listData.loading">发布</a-button>
            <a-button :disabled="!hasSelected" :loading="listData.loading" style="margin: 0 16px">
              草稿
            </a-button>
            <a-button :disabled="!hasSelected" :loading="listData.loading">首焦推荐</a-button>
            <a-button :disabled="!hasSelected" :loading="listData.loading" style="margin: 0 16px">
              撤销首焦
            </a-button>
            <a-button danger :disabled="!hasSelected" :loading="listData.loading">删除</a-button>
            <a-button
              type="primary"
              :disabled="!hasSelected"
              :loading="listData.loading"
              style="margin: 0 16px"
            >
              + 新建
            </a-button>
          </div>
          <a-table
            :loading="listData.loading"
            :dataSource="listData.data"
            :row-selection="{ selectedRowKeys: listData.selectedRowKeys, onChange: onSelectChange }"
            :columns="columns"
            :scroll="{ x: 1800 }"
            :pagination="{
              pageSize: pageInfo.pageSize,
              total: listData.total,
              onChange: handlePageChange,
              showSizeChanger: true,
            }"
          />
        </main>
      </div>
    </div>
  </PageContainer>
</template>
<script setup lang="ts">
import { reactive, ref, onMounted, defineComponent, h, computed, queuePostFlushCb } from 'vue';
import { getList, searchList, dellist, tuijian } from '@/services/user';
import useStore from '@/stores';
import { storeToRefs } from 'pinia';
import { RedoOutlined } from '@ant-design/icons-vue';
import type { TableColumnsType } from 'ant-design-vue';
import { Table, Tag, Button, message } from 'ant-design-vue';
import * as moment from 'moment';
const store = useStore();
const { CategoryList } = storeToRefs(store);
const { list, arr } = storeToRefs(store);

const userForm = reactive({
  title: '',
  status: '',
  category: '',
});

const del = e => {};

const listData = reactive({
  data: [],
  total: 0,
  loading: false,
  selectedRowKeys: [],
  isRecommended: 'true',
});
const onSelectChange = () => {};
const hasSelected = computed(() => listData.selectedRowKeys.length > 0);
const onFinish = async val => {
  let arr = {};
  if (userForm.title.length > 0) {
    arr['title'] = userForm.title;
  }
  if (userForm.status.length > 0) {
    arr['status'] = userForm.status;
  }
  if (userForm.category) {
    arr['category'] = userForm.category;
  }
  let { data } = await searchList(arr);
  listData.data = data[0];
  listData.total = data[1];
};
const clear = () => {
  (userForm.title = ''), (userForm.status = ''), (userForm.category = '');
  getlist();
};
const pageInfo = reactive({
  page: 1,
  pageSize: 10,
});
const Refresh = () => {
  getlist();
};

const getlist = async () => {
  listData.loading = true;
  const {
    data: [lists, total],
  } = await getList(pageInfo);
  listData.loading = false;
  listData.data = lists;
  listData.total = total;
};
onMounted(() => {
  getlist();
  store.searchList();
});

const handlePageChange = (page, pageSize) => {
  pageInfo.page = page;
  pageInfo.pageSize = pageSize;
  getlist();
};

const confirm = (e: MouseEvent) => {
  console.log(e);
  message.success('Click on Yes');
};

const cancel = (e: MouseEvent) => {
  console.log(e);
  message.error('Click on No');
};

const statusMap = {
  publish: '已发布',
  draft: '草稿',
};

const columns = ref<TableColumnsType>([
  {
    title: '标题',
    width: 100,
    dataIndex: 'title',
    key: 'id',
    fixed: 'left',
  },
  {
    title: '状态',
    dataIndex: 'status',
    customRender: ({ text }) => {
      return h(Tag, () => statusMap[text]);
    },
    key: 'id',
    width: 150,
  },
  {
    title: '分类',
    dataIndex: 'category.label',
    customRender: ({ text, record }) => {
      return record?.category
        ? h(
            Tag,
            {
              color: 'red',
            },
            {
              default: () => record?.category?.label,
            },
          )
        : null;
    },
    key: 'id',
    width: 150,
  },
  {
    title: '标签',
    customRender: ({ text, record }) => {
      return record.tags.map(item =>
        h(
          Tag,
          { color: 'blue' },
          {
            default: () => item?.label,
          },
        ),
      );
    },
    width: 150,
  },
  {
    title: '阅读量',
    dataIndex: 'views',
    customRender: ({ text, record }) => {
      return record?.views
        ? h(
            Tag,
            {
              color: 'blue',
            },
            {
              default: () => record?.views,
            },
          )
        : null;
    },
    key: 'id',
    width: 150,
  },
  {
    title: '喜欢数',
    dataIndex: 'likes',
    customRender: ({ text, record }) => {
      return record?.likes
        ? h(
            Tag,
            {
              color: 'blue',
            },
            {
              default: () => record?.likes,
            },
          )
        : null;
    },
    key: 'id',
    width: 150,
  },
  {
    title: '发布时间',
    dataIndex: 'updateAt',
    customRender: ({ text, record }) => {
      return moment(record.updateAt).format('YYYY-MM-DD HH:mm:ss');
    },
    key: 'id',
    width: 150,
  },
  {
    title: '操作',
    key: 'id',
    customRender: ({ text, record, index, column }) => {
      return h('div', { id: 'open1' }, [
        h(
          Button,
          {
            type: 'link',
          },
          { default: () => '编辑' },
        ),
        h(
          Button,
          {
            type: 'link',
            onClick: async key => {
              let data = await tuijian(text.id);
              listData.isRecommended=data.isRecommended
            },
          },
          { default: () => (listData.isRecommended ? '撤销首焦' : '首焦推荐') },
        ),
        h(
          Button,
          {
            type: 'link',
          },
          { default: () => '查看访问' },
        ),
        h(
          Button,
          {
            type: 'link',
            onClick: async key => {
              let { statusCode } = await dellist(text.id);
              if (statusCode == 200) {
                message.info('删除成功');
              }
              getlist();
            },
          },
          { default: () => '删除' },
        ),
      ]);
    },
    fixed: 'right',
    width: 200,
  },
]);
</script>
<style lang="less">
.ant-col {
  padding: 0 3px;
}
.artilesAll {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.loginRight {
  width: 100%;
  background: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
.table-container {
  width: 100%;
  background: #fff;
  header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 20px;
    button {
      background: rgb(119, 119, 211);
    }
  }
}
.add {
  display: inline-block;
  margin: 5px;
  padding: 0, 5px;
  // background:rgb(90, 121, 236);
  color: red;
}
.artilesAll {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.ant-pro-grid-content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ant-table-cell {
  a {
    margin: 0 5px;
  }
}
#open1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  span {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 100%;
    color: var(--ant-primary-color);
  }
  .ant-popover-message {
    margin-bottom: 24px;
  }
  .ant-popover-inner-content {
    width: 200px;
  }
}

// #components-table-demo-summary tfoot th,
// #components-table-demo-summary tfoot td {
//   background: #fafafa;
// }
// [data-theme='dark'] #components-table-demo-summary tfoot th,
// [data-theme='dark'] #components-table-demo-summary tfoot td {
//   background: #1d1d1d;
// }
</style>
