<template>
  <PageContainer>
    <div class="left">
      <h3>添加分类</h3>
      <p><input type="text" placeholder="输入分类名称" /></p>
      <p><input type="text" placeholder="输入分类值（请输入英文,作为路由使用）" /></p>
      <p><button>保存</button></p>
    </div>
    <div class="right">
      <h3>所有分类</h3>
      <div v-for="item in list.data" :key="item.id">
        <a-tag color="red" class="box">
          <a>{{ item.value }}</a>
        </a-tag>
      </div>
    </div>
  </PageContainer>
</template>


<script setup  lang="ts" scoped>
import { onMounted, reactive } from 'vue';
import { getCategory } from '../../services/user';
const list = reactive({
  data: [],
});

onMounted(async () => {
  const { data } = await getCategory();
  list.data = data;
  console.log(data);
});
</script>
<style lang="less" s>
.left {
  margin-top: 30px;
  width: 500px;
  height: 270px;
  background: white;
  float: left;
}
.left h3 {
  line-height: 60px;
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
}
input {
  width: 450px;
  // height: 40px;
  border: 1px solid #ccc;
}
.left p {
  padding-left: 30px;
  margin-top: 25px;
}
button {
  width: 80px;
  height: 40px;
  background: blue;
  color: white;
  border: none;
}
.right {
  margin-top: 30px;
  width: 930px;
  height: 150px;
  background: white;
  float: right;
}
.right h3 {
  line-height: 60px;
  padding-left: 30px;
  border-bottom: 1px solid #ccc;
}
.box {
  float: left;
  margin-left: 15px;
  margin-right: 20px;
  margin-top: 30px;
}
</style>
