<template>
  <PageContainer>
    <div class="vue_cont">
      <div class="left_Box">
        <addTag />
      </div>
      <div class="right_Box">
        <tagAll />
      </div>
    </div>
  </PageContainer>
</template>
<script setup lang="ts">
import addTag from "../../components/addTag/addtag.vue"
import tagAll from "../../components/tagAll/tagAll.vue"
import {provide} from "vue";

provide("ABC",false)

</script>
<style lang="less">
.ant-pro-page-container {
  display: flex;
  flex-direction: column;
  .vue_cont {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .left_Box {
      width: 45%;
    }
    .right_Box {
      width: 100%;
      margin-left: 20px;
    }
  }
}
</style>
