<template>
  <PageContainer>
    <div class="file">
      <Onload />
      <Formfile @onFinishok="serachForm" @reset="reset" />
      <div class="file_con">
        <template v-if="fileList && fileList[0].length">
          <div class="items">
            <Card v-for="item in fileList[0]" :key="item.id" :item="item" @click="showDrawer(item.id)" />
            <a-drawer v-model:visible="visible" width="640" class="custom-class" title="文件信息" placement="right">
              <img :src="itemObj && itemObj.url" alt="" />
              <table>
                <tbody>
                  <tr>
                    <td>文件名称</td>
                    <td>{{ itemObj && itemObj.originalname }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>储存路径</td>
                    <td>{{ itemObj && itemObj.filename }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>文件类型</td>
                    <td>{{ itemObj && itemObj.type }}</td>
                    <td>文件大小</td>
                    <td>{{ itemObj && itemObj.size }}</td>
                  </tr>
                  <tr>
                    <td>访问链接</td>
                    <td ref="itemUrl" class="url">{{ itemObj && itemObj.url }}</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td class="copy" @click="copyUrl">复制</td>
                    <td></td>
                  </tr>
                </tbody>
              </table>
              <template #footer>
                <div class="footer">
                  <a-button @click="() => (visible = false)">关闭</a-button>

                  <a-popconfirm title="确定删除吗？" ok-text="是" cancel-text="否" @confirm="confirm" @cancel="cancel">
                    <a-button type="primary" danger ghost>删除</a-button>
                  </a-popconfirm>
                </div>
              </template>
            </a-drawer>
          </div>
          <div class="yejiao">
            <a-pagination
              v-model:current="current1"
              v-model:page-size="pageSize1"
              :page-size-options="pageSizeOptions"
              :total="fileList[1]"
              :show-total="total => `共 ${fileList[1]} 条`"
              @change="changepage"
              @showSizeChange="onShowSizeChange"
            >
              <template #buildOptionText="props">
                <span v-if="props.value !== '50'">{{ props.value }}条/页</span>
                <span v-else>全部</span>
              </template>
            </a-pagination>
          </div>
        </template>
        <template v-else>
          <a-empty :image="simpleImage" />
        </template>
      </div>
      <Footer />
    </div>
  </PageContainer>
</template>
<script setup lang="ts">
import useStore from '@/store';
import { storeToRefs } from 'pinia';
import { Empty, message } from 'ant-design-vue';
import { onMounted, ref, reactive } from 'vue';
import copy from 'copy-text-to-clipboard';
const store = useStore();
//抽屉
const visible = ref(false);
const showDrawer = (id: string) => {
  visible.value = true;
  store.getItem(id);
};
//删除
const confirm = () => {
  store.delFile(pageObj);
  visible.value = false;
};

const cancel = (e: MouseEvent) => {
  visible.value = false;
};
//复制
const itemUrl = ref();
const copyUrl = () => {
  copy(itemUrl.value.innerHTML);
  message.success('已复制到粘贴板');
};

//空状态
const simpleImage = ref(Empty.PRESENTED_IMAGE_SIMPLE);
const { fileList, itemObj } = storeToRefs(store);
//分页器配置
const pageSizeOptions = ref<string[]>(['8', '12', '24', '26', '32']);
const current1 = ref<number>(1);
const pageSize1 = ref<number>(12);
const pageObj = reactive({
  page: 1,
  pageSize: 12,
});
const onShowSizeChange = (current: number, pageSize: number) => {
  pageObj.pageSize = pageSize;
  pageSize1.value = pageSize;
  store.getFileAction(pageObj);
};
const changepage = (page: number) => {
  pageObj.page = page;
  store.getFileAction(pageObj);
};
//搜索
const serachForm = (values: Object) => {
  store.serachFile({
    ...values,
    page: pageObj.page,
    pageSize: pageObj.pageSize,
  });
};
onMounted(() => {
  store.getFileAction(pageObj);
});
const reset = (el: any) => {
  el.value.resetFields();
  store.getFileAction(pageObj);
};
</script>

<style scoped lang="less">
.ant-drawer-content-wrapper {
  // width: 600px !important;
  img {
    width: 100%;
    height: 60%;
  }
}
tbody {
  font-size: 12px;
}
tbody tr td:nth-child(1),
tbody tr td:nth-child(3) {
  width: 80px;
  padding: 12px;
  /* margin-left: 15px; */
}
.url {
  border: solid 1px #ccc;
  padding: 5px;
}
.copy {
  cursor: pointer;
  color: #0188fb;
}
.footer {
  display: flex;
  justify-content: end;
  button {
    margin: 5px;
  }
}
.items{
  display: flex;
  flex-wrap: wrap;
}
</style>
