<template>
  <div class="loginContainer">
    <div class="loginLeft">
      <img
        class="images"
        src='@/img/屏幕快照 2022-09-02 上午10.47.09.png'
        alt=""
      />
    </div>
    <a-form :model="formState" :rules="rules" class="loginRight" @finish="onFinish">
      <div class="loginText">
        <h1>访客注册</h1>
        <a-form-item label="账户" name="name">
          <a-input v-model:value="formState.name" />
        </a-form-item>
        <a-form-item  style="height:32px" has-feedback label="密码" name="password" :rules="[{ required: true, message: '请输入密码' }]">
          <a-input-password v-model:value="formState.password" type="password" autocomplete="off" />
        </a-form-item>
        <a-form-item has-feedback label="确认" name="confirm">
          <a-input-password v-model:value="formState.confirm" type="password" autocomplete="off" />
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 4, span: 16 }">
          <a-button html-type="submit" block :loading="loginLoading">注册</a-button>
        </a-form-item>
        <a-form-item :wrapper-col="{ offset: 2, span: 16 }">
          <router-link to="/login">Or 去登陆</router-link>
        </a-form-item>
      </div>
    </a-form>
  </div>
</template>

<script setup lang="ts">
import { defineComponent, reactive, ref } from 'vue';
import { useRouter } from 'vue-router';
import { message } from 'ant-design-vue';
import type { Rule } from 'ant-design-vue/es/form';
const loginLoading = ref(false);
import { register } from '@/services/user';
const $router = useRouter();
interface FormState {
  name: string;
  password: string;
  confirm: string;
}
const formState = reactive<FormState>({
  name: '',
  password: '',
  confirm: '',
});

let validatePass2 = async (_rule: Rule, value: string) => {
  if (value === '') {
    return Promise.reject('请输入密码');
  } else if (value !== formState.password) {
    return Promise.reject('两次输入不一致');
  } else {
    return Promise.resolve();
  }
};
const onFinish = async val => {
  try {
    loginLoading.value = true;
    const { data } = await register(val);
    window.localStorage.setItem('userInfo', JSON.stringify(data));
    message.info('注册成功，跳转到登陆页');
    $router.push('/login');
  } catch (error) {
    console.error(error);
  } finally {
    loginLoading.value = false;
  }
};
const rules: Record<string, Rule[]> = {
  name: [{ required: true, message: '请输入账号' }],
  password: [{ required: true, message: '请输入密码' }],
  confirm: [{ required: true, validator: validatePass2, trigger: 'change' }],
};
</script>

<style lang="less">
.loginContainer {
  width: calc(100vw - 200px);
  height: calc(100vh - 100px);
  margin: 50px auto;
  background: #fff;
  min-height: 500px;
  display: flex;
  .loginLeft,
  .loginRight {
    flex: 1;
    overflow: hidden;
    box-sizing: border-box;
    padding: 10px;
    margin: 50px auto;
  }
  .loginText {
    width: 100%;
    padding: 20px;
    padding-top: 100px;
    height: 500px;
  }
  .images {
    width: 100%;
  }
 
}
</style>
