<template>
  <a-card title="所有标签" :bordered="false" style="width: 500px">
    <a-tag v-for="item in list.data" :key="item.id" class="item_tag" color="purple" @click="tagItemBtn(item)">
      {{ item.value }}
    </a-tag>
  </a-card>
</template>

<script setup lang="ts">
import { getTagList } from '../../services/user';
import { onMounted,reactive } from 'vue';
import emitter from "../../utils/bus";

const list = reactive({
  data: [],
});

const tagItemBtn = (vals)=>{
   console.log(vals);
   emitter.emit("itemTags",vals) //跨组件  传值
}

onMounted(async () => {
  const { data } = await getTagList();
  list.data = data;
});
</script>

<style lang="less">
.item_tag {
  margin-top: 20px;
}
</style>
