<template>
  <div>
    <div class="top">
      <router-link to="/worker">工作台/</router-link>
      邮件管理
    </div>
    <div class="z">
      发件人:
      <input type="text" placeholder="请输入发件人" />
      收件人:
      <input type="text" placeholder="请输入收件人" />
      主题:
      <input type="text" placeholder="请输入主题" />
      <p>
        <button>搜索</button>
        <button class="zc">重置</button>
      </p>
    </div>
    <div class="x">
      <a-table :columns="columns" @resizeColumn="handleResizeColumn">
        <template #headerCell="{ column }">
          <template v-if="column.key === 'name'">
            <span>收件人</span>
          </template>
        </template>
      </a-table>
    </div>
  </div>
</template>
<script lang="ts">
import { SmileOutlined, DownOutlined } from '@ant-design/icons-vue';
import type { TableColumnsType } from 'ant-design-vue';
import { defineComponent, ref } from 'vue';
export default defineComponent({
  components: {
    SmileOutlined,
    DownOutlined,
  },
  setup() {
    const columns = ref<TableColumnsType>([
      {
        dataIndex: '发件人',
        key: 'name',
        resizable: true,
      },
      {
        title: '收件人',
        dataIndex: 'age',
        key: 'age',
        resizable: true,
      },
      {
        title: '主题',
        dataIndex: 'address',
        key: 'address',
      },
      {
        title: '发送时间',
        key: 'tags',
        dataIndex: 'tags',
      },
      {
        title: '操作',
        key: 'action',
      },
    ]);
    return {
      columns,
      handleResizeColumn: (w, col) => {
        col.width = w;
      },
    };
  },
});
</script>

<style lang="less">
.top {
  width: 100%;
  height: 50px;
  background: white;
}
.z {
  width: 95%;
  height: 150px;
  margin-left: 2.5%;
  background: white;
  margin-top: 20px;
  padding-left: 25px;
  input {
    width: 200px;
    height: 35px;
    line-height: 75px;
    margin-top: 25px;
    margin-left: 15px;
  }
  p {
    margin-top: 30px;
    margin-left: 1150px;
  }
  button {
    margin-left: 15px;
  }
  .zc {
    background: white;
    color: black;
    border: 1px solid #ccc;
  }
}
.x {
  width: 95%;
  height: 400px;
  background: white;
  margin-left: 2.5%;
  margin-top: 20px;
}
</style>
