<template>
  <a-card title="添加标签" :bordered="false" style="width: 500px">
    <a-form
      :model="formState"
      name="basic"
      :label-col="{ span: 8 }"
      :wrapper-col="{ span: 16 }"
      autocomplete="off"
      @finish="onFinish"
      @finishFailed="onFinishFailed"
    >
      <a-form-item name="label" :rules="[{ required: true, message: '请输入标签名' }]">
        <a-input v-model:value="formState.label" />
      </a-form-item>

      <a-form-item name="value" :rules="[{ required: true, message: '请输入标签值' }]">
        <a-input v-model:value="formState.value" />
      </a-form-item>
      <!-- 按钮 -->
      <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
        <a-button type="primary" html-type="submit">保存</a-button>
        <a-button style="margin-left: 10px" @click="resetForm">重置</a-button>
      </a-form-item>
    </a-form>
  </a-card>
</template>

<script setup lang="ts">
import { reactive, inject } from 'vue';
// import type { UnwrapRef } from 'vue';
import { addTagList } from '../../services/user';
import emitter from '../../utils/bus';

interface FormState {
  label: string;
  value: string;
}

const formState = reactive<FormState>({
  label: '',
  value: '',
});
// 跨组件 接收 值
emitter.on('itemTags', (data: any) => {
  formState.label = data.label;
  formState.value = data.value;
}); //跨组件  接收值
// 保存标签
const onFinish = async (values: any) => {
  const res = await addTagList(values);
};
// 重置事件
const resetForm = () => {
  formState.label = '';
  formState.value = '';
};
</script>

<style lang="less"></style>
