<template>
  <div class="comment">
    <div class="headers">
      <h4>
        <router-link to="/worker">工作台</router-link>
      </h4>
      <h4>
        <router-link to="/comment">评论管理</router-link>
      </h4>
    </div>
    <div class="call">
      <a-row>
        称呼：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入称呼" />
        </a-col>
        &emsp; email：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入联系方式" />
        </a-col>
        &emsp; 状态：
        <a-col :span="5">
          <a-space>
            <a-select ref="select" v-model:value="jack" style="width: 120px" @focus="focus" @change="handleChange">
              <!-- <a-select-option value="">请输入状态</a-select-option> -->
              <a-select-option value="已通过">已通过</a-select-option>
              <a-select-option value="未通过">未通过</a-select-option>
            </a-select>
          </a-space>
        </a-col>
        &emsp;
        <a-col :span="2">
          <a-button type="primary">搜索</a-button>
        </a-col>
        <a-col :span="1">
          <a-button>重置</a-button>
        </a-col>
      </a-row>
    </div>
    <div class="tab">
      <a-space align="center" style="margin-bottom: 16px">
        <a-switch v-model:checked="rowSelection.checkStrictly"></a-switch>
      </a-space>
      <a-table :columns="columns" :data-source="commentlist" :row-selection="rowSelection" />
    </div>
  </div>
</template>

<script setup lang="ts">
import useStore from '@/store';
import { onMounted, reactive, ref, defineComponent } from 'vue';
import { storeToRefs } from 'pinia';
import { Button } from 'ant-design-vue/lib/radio';

const store=useStore()
console.log("store",store);

const {commentlist} =storeToRefs(store);
console.log("comment",commentlist);


const columns = [
  {
    title: '状态',
    dataIndex: 'replyUserName',
    key: 'replyUserName',
    width: '12%',
  },
  {
    title: '称呼',
    dataIndex: 'name',
    key: 'name',
    width: '14%',
  },
  {
    title: '联系方式',
    dataIndex: 'replyUserEmail',
    width: '17%',
    key: 'replyUserEmail',
  },
  {
    title: '原始内容',
    dataIndex: 'content',
    width: '20%',
    key: 'content',
  },
  {
    title: 'HTML内容',
    dataIndex: 'html',
    width: '20%',
    key: 'html',
  },
  {
    title: '操作',
    customRender:()=>{
      return h(Button,['删除'])
    }
  },
];

interface DataItem {
  key: number;
  name: string;
  age: number;
  address: string;
  children?: DataItem[];
}

const rowSelection = ref({
  checkStrictly: false,
  onChange: (selectedRowKeys: (string | number)[], selectedRows: DataItem[]) => {
    console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
  },
  onSelect: (record: DataItem, selected: boolean, selectedRows: DataItem[]) => {
    console.log(recordc, selected, selectedRows);
  },
  onSelectAll: (selected: boolean, selectedRows: DataItem[], changeRows: DataItem[]) => {
    console.log(selected, selectedRows, changeRows);
  },
});

const data = reactive({
  commentlist: [],
});
const init = () => {
  store.getCommentAction();
  console.log('111111111', store.getCommentAction());
};
onMounted(() => {
  init();
});
</script>

<style lang="less">
.comment {
  width: 100%;
  height: 100%;
  background: #eee;
  // overflow: auto;
  .headers {
    width: 100%;
    height: 50px;
    background: #fff;

    > h4 {
      float: left;
      line-height: 50px;
      margin-left: 20px;
    }
  }
  .call {
    width: 95%;
    height: 100px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .tab {
    width: 95%;
    height: auto;
    background: #fff;
    margin: auto;
    margin-top: 20px;
  }
}
</style>
