<template>
  <div id="myCharts" ref="myCharts"></div>
</template>
<script setup lang="ts">
import * as echarts from 'echarts';
import { defineProps, onMounted, onUnmounted } from 'vue';

const draw = () => {
  var chartDom: any = document.getElementById('myCharts');
  // var myChart = echarts.init(myCharts);
  var myChart = echarts.init(chartDom);
  const option = {
    tooltip: {
      trigger: 'axis',
      axisPointer: {
        type: 'cross',
        crossStyle: {
          color: '#999',
        },
      },
    },
    legend: {
      data: ['评论量', '访问量'],
    },
    xAxis: [
      {
        type: 'category',
        data: ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'],
        axisPointer: {
          type: 'shadow',
        },
      },
    ],
    yAxis: [
      {
        type: 'value',
        name: '每周用户访问指标',
        min: 0,
        max: 400,
        interval: 100,
        // axisLabel: {
        //   formatter: '{value} ',
        // },
      },
      {
        // type: 'value',
        // name: '访问量',
        // min: 0,
        // max: 25,
        // interval: 5,
        // axisLabel: {
        //   formatter: '{value} °C'
        // }
      },
    ],
    series: [
      {
        name: '评论量',
        type: 'bar',
        // tooltip: {
        //   valueFormatter: function (value) {
        //     return value + ' ml';
        //   },
        // },
        itemStyle: {
          color: '#a90000',
        },
        data: [110, 200, 150, 80, 60, 110, 120],
      },
      // {
      //   name: 'Precipitation',
      //   type: 'bar',
      //   tooltip: {
      //     valueFormatter: function (value) {
      //       return value + ' ml';
      //     }
      //   },
      //   data: [
      //     2.6, 5.9, 9.0, 26.4, 28.7, 70.7, 175.6, 182.2, 48.7, 18.8, 6.0, 2.3
      //   ]
      // },
      {
        name: '访问量',
        type: 'line',
        yAxisIndex: 1,
        // tooltip: {
        //   valueFormatter: function (value) {
        //     // return value + ' °C';
        //   },
        // },,
        itemStyle: {
          color: '#000',
        },
        data: [360, 290, 350, 110, 100, 120, 140],
      },
    ],
  };
  myChart.setOption(option);
};
// 挂载
onMounted(() => {
  draw();
});
</script>
<style lang="less">
#myCharts {
  width: 100%;
  height: 400px;
  background: #fff;
}
</style>
