<!-- <template>
  <div class="mail">
    <div class="mail-management">
      <div class="upper">
        <h5>名称:</h5>
        <a-input v-model:value="namevalue" />
        <h5>路径:</h5>
        <a-input v-model:value="statevalue" />
        <h5>状态:</h5>
        <a-select v-model:value="dropdown">
          <a-select-option value="publish">已发布</a-select-option>
          <a-select-option value="draft">草稿</a-select-option>
        </a-select>
        <a-button class="search-build" @click="searchpagemanagement">搜索</a-button>
        <a-button @click="reset">重置</a-button>
      </div>
      <div class="lower">
        <a-button class="newly-build" @click="$router.push('/page/editor')">+ 新建</a-button>
        <a-space>
          <reload-outlined class="refresh" />
        </a-space>
        <a-table bordered :data-source="Pagelist" :columns="columns" :row-selection="rowSelection" row-key="id">
          <template #bodyCell="{ column, text, record }">
            <template v-if="column.dataIndex === 'name'">
              <div class="editable-cell">
                <div v-if="editableData[record.key]" class="editable-cell-input-wrapper">
                  <a-input @pressEnter="save(record.key)" />
                  <check-outlined class="editable-cell-icon-check" />
                </div>
                <div v-else class="editable-cell-text-wrapper">
                  {{ text || ' ' }}
                </div>
              </div>
            </template>
            <template v-else-if="column.dataIndex === 'operation'">
              <a-popconfirm title="Sure to delete?" class="inp" @confirm="onDelete(record.key)">
                <sapn class="sp">编辑</sapn>
                <sapn class="sp">下线</sapn>
                <sapn class="sp">查看访问</sapn>
                <sapn class="sp">删除</sapn>
              </a-popconfirm>
            </template>
          </template>
        </a-table>
      </div>
    </div>
    <div class="website">
      <a-space>
        <github-outlined />
        <icon-font type="icon-twitter" />
      </a-space>
      <p>Copyright c 2022 Designed by Fantasticit</p>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { createFromIconfontCN, ReloadOutlined } from '@ant-design/icons-vue';
import { ref, onMounted, reactive, computed, h } from 'vue';
import { useRouter } from 'vue-router';
import { storeToRefs, defineStore } from 'pinia';
import { useStore } from '@/store';
import { Badge } from 'ant-design-vue';
const $router = useRouter();
const count = computed(() => dataSource.value.length + 1);
const editableData: UnwrapRef<Record<string, DataItem>> = reactive({});

const edit = (key: string) => {
  // editableData[key] = cloneDeep(dataSource.value.filter(item => key === item.key)[0]);
  console.log(key, 'edit');
};
const save = (key: string) => {
  // Object.assign(dataSource.value.filter(item => key === item.key)[0], editableData[key]);
  // delete editableData[key];
  console.log(key, 'save');
};

const onDelete = (key: string) => {
  // dataSource.value = dataSource.value.filter(item => item.key !== key);
  console.log(key, 'onDelete');
};
const handleAdd = () => {
  console.log('11111');
};

//多选框s
const rowSelection = ref({
  checkStrictly: false,
  onChange: (selectedRowKeys: (string | number)[], selectedRows: DataItem[]) => {
    console.log(selectedRowKeys, selectedRows, 'change');
  },
  onSelect: (record: DataItem, selected: boolean, selectedRows: DataItem[]) => {
    console.log(record, selected, selectedRows, 'Select');
  },
  onSelectAll: (selected: boolean, selectedRows: DataItem[], changeRows: DataItem[]) => {
    console.log(selected, selectedRows, changeRows, 'All');
  },
});
// dataSource.value.push(newData);
const store = useStore();
const pageObj = reactive({
  page: 1,
  pageSize: 5,
});
const { Pagelist } = storeToRefs(store);
console.log(Pagelist, 'Pagelist');

const IconFont: any = createFromIconfontCN({
  scriptUrl: '//at.alicdn.com/t/font_8d5l8fzk5b87iudi.js',
});
IconFont;
const statusMap = {
  publish: '已发布',
  draft: '草稿',
};
const columns = [
  {
    title: '名称',
    dataIndex: 'name',
    key: 'name',
  },
  {
    title: '路径',
    dataIndex: 'path',
    key: 'age',
  },
  {
    title: '顺序',
    dataIndex: 'order',
    key: 'address',
  },
  {
    title: '状态',
    // <a-badge :color="color" :text="color" />
    dataIndex: 'status',
    customRender: ({ text }) => {
      return h(Badge, { color: 'red' }, () => statusMap[text]);
    },
    key: 'state',
  },
  {
    title: '发布时间',
    dataIndex: 'createAt',
    key: 'releasetime',
  },
  {
    title: '操作',
    dataIndex: 'operation',
    key: 'operation',
  },
];

onMounted(() => {
  store.management(pageObj);
});

//搜索
const namevalue = ref('');
const statevalue = ref('');
const dropdown = ref('');
const searchpagemanagement = () => {
  store.serachpage({
    ...pageObj,
    name: namevalue.value,
    path: statevalue.value,
    status: dropdown.value,
  });
  console.log(dropdown.value, '11111111');
};
//重置
const reset = () => {
  namevalue.value = '';
  statevalue.value = '';
  location.reload();
};
</script>

<style lang="less" scoped> 
.mail {
  width: 100%;
  height: 100%;
  background: rgb(239, 242, 245);
  position: relative;
  .mail-management {
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    .upper {
      width: 100%;
      height: 20%;
      background: #fff;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .ant-input {
        width: 150px !important;
        height: 30px;
      }
      .search-build {
        background: rgb(1, 136, 251);
        color: #fff;
      }
      .ant-select {
        width: 120px !important;
        height: 30px !important;
      }
    }
    .lower {
      width: 100%;
      height: 45%;
      background: #fff;
      position: relative;
      .inp {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .sp {
          width: 70px;
          height: 30px;
          display: inline-block;
          text-align: center;
          line-height: 30px;
          color: rgb(41, 162, 255) !important;
        }
      }
      .newly-build {
        float: right;
        background: rgb(1, 136, 251);
        color: #fff;
        margin: 10px;
        margin-right: 30px;
      }
      .refresh {
        position: absolute;
        right: 1%;
        top: 7%;
      }
    }
  }
  .website {
    position: absolute;
    top: 140%;
    bottom: 0;
    left: 40%;
    right: 0;
    margin: auto;
    .anticon {
      margin-left: 118px !important;
    }
  }
}
</style>-->
<template>
  <div class="page">
    <div class="top1">
      <h4>
        <router-link to="/worker">工作台</router-link>
      </h4>
      <h4>
        <router-link to="/page">页面管理</router-link>
      </h4>
    </div>
    <div class="name">
      <a-row>
        称呼：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入称呼" />
        </a-col>&emsp;
        email：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入联系方式" />
        </a-col>&emsp;
        状态：
        <a-col :span="5">
          <a-space>
            <a-select
              ref="select"
              v-model:value="jack"
              style="width: 120px"
              @focus="focus"
              @change="handleChange"
            >
              <!-- <a-select-option value="">请输入状态</a-select-option> -->
              <a-select-option value="已通过">已通过</a-select-option>
              <a-select-option value="未通过">未通过</a-select-option>
            </a-select>
          </a-space>
        </a-col>&emsp;
        <a-col :span="2">
          <a-button type="primary">搜索</a-button>
        </a-col>
        <a-col :span="1">
          <a-button>重置</a-button>
        </a-col>
      </a-row>
    </div>
    <div class="content">
      
    </div>
  </div>
</template>

<script setup lang="ts">
import useStore from '@/store';
import { ref, reactive, onMounted, computed, defineComponent } from 'vue';
import { storeToRefs } from 'pinia';
const store = useStore();
const { pagelist } = storeToRefs(store);



const data = reactive({
  pagelist: [],
});
const init = () => {
  store.getPageAction();
};
onMounted(() => {
  init();
});
</script>

<style lang="less">
.page {
  width: 100%;
  height: 100%;
  background: #eee;
  // overflow: auto;
  .top1 {
    width: 100%;
    height: 50px;
    background: #fff;
    > h4 {
      float: left;
      line-height: 50px;
      margin-left: 20px;
    }
  }
  .name {
    width: 95%;
    height: 100px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .content {
    width: 95%;
    height: 500px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
  }
}
</style>
