<template>
  <div class="search">
    <a-affix offset-top="0">
      <div class="header">
        <h4>
          <router-link to="/worker">工作台</router-link>
        </h4>
        <h4>
          <router-link to="/search">搜索记录</router-link>
        </h4>
      </div>
    </a-affix>
    <div class="sear">
      <a-row>
        类型：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入搜索类型" />
        </a-col>
        &emsp; 搜索词：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入搜索词" />
        </a-col>
        &emsp; 搜索量：
        <a-col :span="5">
          <a-input v-model:value="value" placeholder="请输入搜索量" />
        </a-col>
        &emsp;
        <a-col :span="2">
          <a-button type="primary">搜索</a-button>
        </a-col>
        <a-col :span="1">
          <a-button>重置</a-button>
        </a-col>
      </a-row>
    </div>
    <div class="con">
      <a-space align="center" style="margin-bottom: 16px">
        <a-switch v-model:checked="rowSelection.checkStrictly"></a-switch>
      </a-space>
      <template>
        <a>action</a>
      </template>
      <a-table :columns="columns" :data-source="searchlist" :row-selection="rowSelection" />
    </div>
  </div>
</template>

<script setup lang="ts">
import useStore from '@/store';
import { onMounted, reactive, defineComponent, ref } from 'vue';
import { storeToRefs } from 'pinia';

import { Button } from 'ant-design-vue/lib/radio';

const store = useStore();
const { searchlist } = storeToRefs(store);
const columns = [
  {
    title: '搜索词',
    dataIndex: 'keyword',
    key: 'keyword',
    width: '30%',
  },
  {
    title: '搜索量',
    dataIndex: 'count',
    key: 'count',
    width: '30%',
  },
  {
    title: '搜索时间',
    dataIndex: 'createAt',
    // width: '30%',
    key: 'createAt',
  },
  {
    title:"操作",
    customRender:()=>{
      return h(Button,['删除'])
    }
  },
];
interface DataItem {
  key: number;
  name: string;
  age: number;
  address: string;
  children?: DataItem[];
}

const rowSelection = ref({
  checkStrictly: false,
  onChange: (selectedRowKeys: (string | number)[], selectedRows: DataItem[]) => {
    console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
  },
  onSelect: (record: DataItem, selected: boolean, selectedRows: DataItem[]) => {
    console.log(record, selected, selectedRows);
  },
  onSelectAll: (selected: boolean, selectedRows: DataItem[], changeRows: DataItem[]) => {
    console.log(selected, selectedRows, changeRows);
  },
});

const data = reactive({
  searchlist: [],
});
const init = () => {
  // 调取仓库里的数据
  store.getSearchAction();
  console.log(store.getSearchAction());
};
//挂载
onMounted(() => {
  init();
});
</script>

<style lang="less">
a {
  color: #000;
}
.search {
  width: 100%;
  height: 100%;
  background: #eee;
  // overflow: auto;
  .header {
    width: 100%;
    height: 50px;
    background: #fff;

    > h4 {
      float: left;
      line-height: 50px;
      margin-left: 20px;
    }
  }
  .sear {
    width: 95%;
    height: 100px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
  }
  .con {
    width: 95%;
    height: 800px;
    background: #fff;
    margin: auto;
    margin-top: 20px;
  }
}
</style>
