<template>
  <PageContainer>
    <div class="userinfo_top">
      <h1>你好,{{ rule }}</h1>
      <p>您的角色:</p>
    </div>
    <chartsCom />
  </PageContainer>
</template>

<script lang="ts" setup>
import chartsCom from '../../components/echarts/Echarts.vue';
import { ref } from 'vue';
const rule = ref('admin');
</script>
<style lang="less">
.userinfo_top {
  width: 100%;
  height: 100px;
  background: #fff;
}
</style>
