/<template>
  <PageContainer>
      </PageContainer>
    <a-form
      :model="formState"
      name="basic"
      :label-col="{ span: 8 }"
      :wrapper-col="{ span: 16 }"
      autocomplete="off"
    >
      <div class="non_wap">
        <a-form-item label="IP" name="IP">
          <a-input v-model:value="formState.IP" placeholder="请输入IP地址" />
        </a-form-item>

        <a-form-item label="UA" name="UA">
          <a-input v-model:value="formState.UA" placeholder="请输入User Agent" />
        </a-form-item>

        <a-form-item label="URL" name="URL">
          <a-input v-model:value="formState.URL" placeholder="请输入URL" />
        </a-form-item>

        <a-form-item label="地址" name="city">
          <a-input v-model:value="formState.city" placeholder="请输入地址" />
        </a-form-item>
      </div>
      <div class="non_wap1">
        <a-form-item label="浏览器" name="liulan">
          <a-input v-model:value="formState.liulan" placeholder="请输入浏览器" />
        </a-form-item>

        <a-form-item label="内核" name="neihe">
          <a-input v-model:value="formState.neihe" placeholder="请输入内核" />
        </a-form-item>

        <a-form-item label="OS" name="os">
          <a-input v-model:value="formState.os" placeholder="请输入操作系统" />
        </a-form-item>

        <a-form-item label="设备" name="shebei">
          <a-input v-model:value="formState.shebei" placeholder="请输入设备" />
        </a-form-item>
      </div>

      <div class="btn">
        <a-form-item :wrapper-col="{ offset: 8, span: 16 }">
          <a-button type="primary" html-type="submit">搜索</a-button>
          <a-button html-type="submit">重置</a-button>
        </a-form-item>
      </div>
    </a-form>

<div class="tab_wap">
      <a-table :columns="columns" :data-source="view" :scroll="{ x: 1500, y: 280 }">
      <template #bodyCell="{ column, text }">

        <template  v-if="text.id===viewDel.id">
              <template v-if="column.key === 'url'">
        <a href="javascript:;">{{ text }}</a>
      </template>
            <template v-if="column.dataIndex === 'count'">
        <span>
          <a-tag color="#87d068">{{text}}</a-tag>
        </span>
      </template>
        </template>





        <template v-if="column.key === 'operation'">
           <a-popconfirm
    title="是否删除此访问"
    ok-text="确定"
    cancel-text="取消"
    @confirm="confirm(text)"
    @cancel="cancel"
  >
    <a href="#">删除</a>
  </a-popconfirm>
        </template>
      </template>
    </a-table>
    <a-pagination
      v-model:current="current"
      v-model:page-size="pageSize"
      :page-size-options="pageSizeOptions"
      :total="total"
      show-size-changer
      @showSizeChange="onShowSizeChange"
    >
      <template #buildOptionText="props">
        <span v-if="props.value !== '50'">{{ props.value }}条/页</span>
        <span v-else>全部</span>
      </template>
    </a-pagination>
</div>

</template>



<script setup lang="ts">

import type { FormInstance } from 'ant-design-vue';
import useStore from '@/store';
import { storeToRefs } from 'pinia'
const columns = [
  {
    title: 'URL',
    dataIndex: 'url',
    key: 'url',
    fixed: 'left',
  },
  {
    title: 'IP',
    dataIndex: 'ip',
  },
  {
    title: '浏览器',
    dataIndex: 'browser',
  },
  {
    title: '内核',
    dataIndex: 'engine',
  },
  {
    title: '操作系统',
    dataIndex: 'os',
  },
  {
    title: '设备',
    dataIndex: '',
  },
  {
    title: '地址',
    dataIndex: 'address',
  },
  {
    title: '访问量',
    dataIndex: 'count',
  },
  {
    title: '访问时间',
    dataIndex: 'createAt',
  },
  {
    title: '操作',
    key: 'operation',
    fixed: 'right',
  },
];

const store = useStore();
const { commentlist } = storeToRefs(store)
const init=()=>{
  store.getcommentlist({page:1,pageSize:12})
}
onMounted(()=>{
  init();
})
const formState: any = reactive({
  pass: '',
  checkPass: '',
  age: '',
});

const formRef = ref<FormInstance>();
const resetForm = (values: any) => {
  console.log('Received values from form: ', values);
};
interface DataItem {
  key: number;
  name: string;
  age: number;
  address: string;
  children?: DataItem[];
}
const data: DataItem[] = []
const rowSelection = ref({
  checkStrictly: false,
  onChange: (selectedRowKeys: (string | number)[], selectedRows: DataItem[]) => {
    console.log(`selectedRowKeys: ${selectedRowKeys}`, 'selectedRows: ', selectedRows);
  },
  onSelect: (record: DataItem, selected: boolean, selectedRows: DataItem[]) => {
    console.log(record, selected, selectedRows);
  },
  onSelectAll: (selected: boolean, selectedRows: DataItem[], changeRows: DataItem[]) => {
    console.log(selected, selectedRows, changeRows);
  },
});
</script>

<style lang="less" scoped>
form {
  width: 100%;
  height: 200px;
  background-color: #fff;
  margin: 5px;
}
.non_wap {
  width: 100%;
  height: 50px;

}
.non_wap1 {
  width: 100%;
  height: 50px;

}
.non_wap input {
  width: 170px;
  height: 35px;
  float: left;
}
.non_wap1 input {
  width: 170px;
  height: 35px;
  float: left;
}
.non_wap > div {
  float: left;
  margin: 30px;
}
.non_wap1 div:first-child {
  margin-left: 6px;
}
.non_wap1 div {
  margin-left: -10px;
}
.non_wap1 > div {
  float: left;
  width: 270px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.btn {
  width: 300px;
  height: 60px;
  float: right;
  margin-top: -20px;
  margin-right: -50px;
}
.btn button {
  margin-right: 10px;
}
.ant-table-cell span{
  border-radius: 50%;
  // size: 100px;
}

table{
  width: 100%;
  height: 700px;
}
// .ant-table-tbody{
//     width: 100%;
//   height: 700px;
// }
.ant-table-wrapper ul{
  display: none;
}

</style>
